*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.miltonian-tattoo-regular {
    font-family: "Miltonian Tattoo", serif;
    font-weight: 400;
    font-style: normal;
  }
  .gentium-book plus-regular {
    font-family: "Gentium Book Plus", serif;
    font-weight: 400;
    font-style: normal;
  }
  

a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;

}

.mob-nav{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.nav-item{
    font-family: Gentium Book Plus;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    color: #FFFFFF;
    margin-right: 53px;
}
.strange-letter-header, .strange-letter-footer{
font-family: Miltonian Tattoo;
font-size: 64px;
font-weight: 400;
line-height: 76px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}

.page-intro{
    background-image: url(img/Rectangle\ 30.png);
    width: 100%;
    height: 696px;
}
.letter-visitors{
font-family: Gentium Book Plus;
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
color: #C0B4B4;
margin-top: 409px;
}
.mob-nav{
    padding: 32px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
}
.page-aticles{
    background-color: #2A2626;
    width: 100%;
    height: 100%;

}
.article-content{
    padding: 48px 16px 0px 16px;
}
.articles-box{
    margin-top: 32px;
}
.article-pic{
    width: 93%;
    height: 40%;
    margin-top: 24px;
}
h2{
    display: flex;
    font-family: Gentium Book Plus;
font-size: 36px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
.heading-1, .heading-2{
    justify-content: center;
}
.page-about{
    background-color: #0B0A0A;
    width: 100%;
    height: 100%;
}
.content-about{
    padding: 48px 16px 48px 16px;
}
.about-pic{
    display: flex;
    width: 93%;
}
.heading-2{
    margin-top: 40px;
    justify-content: left;
}
.about-info{
    font-family: Gentium Book Plus;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: justified;
color: #FFFFFF;
margin-top: 32px;
}
.page-contact{
    background-color:  #2A2626;
    width: 100%;
    height: 90px
}
.vectors{
    display: flex;
    justify-content: center;
}
.icon{
    width: 30px;
    height: 30px;
    margin-left: 36px;
    margin-top: 30px;
}
.nav-list{
    display: none;
}
.article-pic-bigger{
    display: none;
}
.strange-letter-footer{
display: none;
}
@media only screen and (min-width: 481px){
    .page-intro{
        background-image: url(img/Rectangle\ 30.png);

        height: 700px;
    }
    .letter-visitors{
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        text-align: center;        
        margin-top: 384px;
        }
        .article-pic{
            width: 44%;
            height: 52.5%;
            margin-top: 24px;
        }
        .articles-box{
            padding: 42px 29px 96px 29px;
            display: flex;
            justify-content: space-between;
        }
        .heading-2{
            justify-content: left;
            margin-top: 40px;
        }
        h2{
            font-size: 48px;
            font-weight: 400;
            line-height: 56px;
            letter-spacing: 0em;
        }
        .content-about{
            padding: 96px 29px 96px 29px;
        }
        .about-info{
        margin-top: 42px;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: justified;
        color: #FFFFFF;
        }
        .icon{
            width: 60px;
            height: 60px;
        }
        .nav-list{
            display: none;
        }
        .article-pic-bigger{
            display: none;
        }
        .strange-letter-footer{
            display: none;
            }
}
@media only screen and (min-width: 1024px) and (max-width: 1440px){
    .nav-menu{
        display: none;
    }
    .nav-list{
        display: flex;
        color: #FFFFFF;
    }
    .mob-nav{
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    .nav-item{
        font-family: Gentium Book Plus;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        color: #FFFFFF;
        margin-right: 53px;
    }
    .article-pic, .article-pic-bigger{
        width: 28%;
        height: 52.5%;
        margin-top: 24px;
    }
    .article-pic-bigger{
        display: block;
    }
    .about-pic{
        width: 44%;
    }
    .content-big-display{
        display: inline-block;
        margin-left: 40px;

    }
    .content-about{
        display: flex;
    }
    .strange-letter-footer{
        display: inline;
        margin-left: 80px;
    }
    .icon{
        display: inline;
        width: 60px;
        height: 60px;
    }
    .vectors{
        margin-right: 80px;
    }
    .page-contact{
        display: flex;
        justify-content: space-between
    }
}

@media only screen and (min-width: 1440px) {
    .page-intro{
        background-image: url(img/Rectangle\ 30.png);
        width: 100%;
        height: 700px;
    }
    .nav-menu{
        display: none;
    }
    .nav-list{
        display: flex;
        color: #FFFFFF;
    }
    .mob-nav{
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    .nav-item{
        font-family: Gentium Book Plus;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        color: #FFFFFF;
        margin-right: 53px;
    }
    .letter-visitors{
        margin: 323px 80px 96px 80px;
    }
    .article-pic, .article-pic-bigger{
        width: 28%;
        height: 52.5%;
        margin-top: 24px;
    }
    .article-pic-bigger{
        display: block;
    }
    .about-pic{
        width: 44%;
    }
    .content-big-display{
        display: inline-block;
        margin-left: 40px;

    }
    .content-about{
        display: flex;
        margin: 96px 190px 96px 190px;
    }
    .strange-letter-footer{
        display: inline;
        margin-left: 80px;
    }
    .icon{
        display: inline;
        width: 60px;
        height: 60px;
    }
    .vectors{
        margin-right: 80px;
    }
    .page-contact{
        display: flex;
        justify-content: space-between
    }


}