*{
    margin: 0;
    padding: 0;
}
.miltonian-tattoo-regular {
    font-family: "Miltonian Tattoo", serif;
    font-weight: 400;
    font-style: normal;
  }
  .gentium-book plus-regular {
    font-family: "Gentium Book Plus", serif;
    font-weight: 400;
    font-style: normal;
  }
  

a{
    text-decoration: none;
}
.strange-letter{
font-family: Miltonian Tattoo;
font-size: 64px;
font-weight: 400;
line-height: 76px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

}
.page-intro{
    background-color: ;
    background-image: url(img/Rectangle\ 30.png);
    width: 100%;
    height: 696px;
}
.letter-visitors{
font-family: Gentium Book Plus;
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
color: #C0B4B4;
margin-top: 409px;
}
.mob-nav{
    padding: 32px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
}
.page-aticles{
    background-color: #2A2626;
    width: 100%;
    height: 100%;

}
.article-content{
    padding: 48px 16px 0px 16px;
}
.articles-box{
    margin-top: 8px;
}
.article-pic{
    width: 93%;
    height: 40%;
    margin-top: 24px;
}
h2{
    display: flex;
    justify-content: center;
    font-family: Gentium Book Plus;
font-size: 36px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
.page-about{
    background-color: #0B0A0A;
    width: 100%;
    height: 100%;
}
.content-about{
    padding: 48px 16px 48px 16px;
}
.about-pic{
    display: flex;
    width: 93%;
}
.about-info{
    font-family: Gentium Book Plus;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: justified;
color: #FFFFFF;
}
.page-contact{
    background-color:  #2A2626;
    width: 100%;
    height: 90px
}
.vectors{
    display: flex;
    justify-content: center;
}
.icon{
    margin-left: 36px;
    margin-top: 30px;
}